@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.calculator-outline{
    border: 3px solid black;
    width: 500px;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    height: 600px;  
}

.display{
    align-self: stretch;
    justify-self: stretch ;
    grid-column: 1 /-1;
    margin-bottom: 0.3em;
    border-bottom: 2px solid black;
}
#display-input{
    width: 100%;
    height: 90%;
    margin-top: 0.22em;
    margin-left:0.5px;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: x-large;
    padding-left: .1em;
    
}

.btn{
    margin: 0.2em ;

}
.btn .btnc{
    width: 100%;
    height: 90%;
    border: 2px solid black;
    border-radius: 45%;
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: x-large;
    
}
.btn .btnc:hover{
    box-shadow: 2px 11px 64px 2px rgba(0, 0, 0, 0.22);
}
